api_platform:
    title: 'Invoicer API'
    description: 'Single-user invoicing & quoting service.'
    version: 1.0.0
    show_webby: false

    defaults:
        stateless: true
        cache_headers:
            vary: [ 'Content-Type', 'Authorization', 'Origin' ]
        security: "is_granted('ROLE_USER')"

    enable_entrypoint: false
    enable_re_doc: false

    formats:
        jsonld:
            mime_types: [ 'application/ld+json' ]
        json:
            mime_types: [ 'application/json' ]

    patch_formats:
        json:
            mime_types: [ 'application/merge-patch+json' ]

    error_formats:
        jsonproblem:
            mime_types: [ 'application/problem+json' ]
        json:
            mime_types: [ 'application/json' ]

when@dev:
    api_platform:
        enable_swagger: true
        enable_swagger_ui: true
        enable_docs: true
        swagger:
            api_keys:
                JWT:
                    name: Authorization
                    type: header
            http_auth:
                bearerAuth:
                    scheme: bearer
                    bearerFormat: JWT

when@prod:
    api_platform:
        enable_docs: false
        enable_entrypoint: false
        enable_swagger: false
        enable_swagger_ui: false