framework:
    workflows:
        quote_flow:
            type: state_machine
            supports:
                - App\Domain\Entity\Document\Quote
            marking_store:
                service: App\Application\Workflow\QuoteMarkingStore
            initial_marking:
                - !php/enum App\Domain\Enum\QuoteStatus::DRAFT->value
            places:
                - !php/enum App\Domain\Enum\QuoteStatus::DRAFT->value
                - !php/enum App\Domain\Enum\QuoteStatus::SENT->value
                - !php/enum App\Domain\Enum\QuoteStatus::ACCEPTED->value
                - !php/enum App\Domain\Enum\QuoteStatus::REJECTED->value
            transitions:
                send:
                    from: !php/enum App\Domain\Enum\QuoteStatus::DRAFT->value
                    to: !php/enum App\Domain\Enum\QuoteStatus::SENT->value
                accept:
                    from: !php/enum App\Domain\Enum\QuoteStatus::SENT->value
                    to: !php/enum App\Domain\Enum\QuoteStatus::ACCEPTED->value
                reject:
                    from: !php/enum App\Domain\Enum\QuoteStatus::SENT->value
                    to: !php/enum App\Domain\Enum\QuoteStatus::REJECTED->value
