parameters:
    app.api_platform.metadata.result_class_template: 'App\Application\UseCase\%%%%s\Result\%sResult'
    app.api_platform.metadata.command_class_template: 'App\Application\UseCase\%%%%s\Command\%sCommand'
    app.api_platform.metadata.provider_class_template: 'App\Infrastructure\ApiPlatform\State\%%%%s\%sStateProvider'
    app.api_platform.metadata.processor_class_template: 'App\Infrastructure\ApiPlatform\State\%%%%s\%sStateProcessor'
    app.api_platform.metadata.controller: 'api_platform.symfony.main_controller'

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\:
        resource: '../src/*'
        exclude:
            - '../src/Domain'
            - '../src/Kernel.php'

    App\Application\:
        resource: '../src/Application/'

    App\Domain\Contracts\:
        resource: '../src/Domain/Contracts/'

    App\Infrastructure\:
        resource: '../src/Infrastructure/'

    # PostgreSQL `CREATE SCHEMA public` fix
    # See https://github.com/doctrine/migrations/issues/1415
    Doctrine\Migrations\Configuration\Migration\ConfigurationLoader: '@doctrine.migrations.configuration_loader'
    doctrine.migrations.dependency_factory:
        class: Doctrine\Migrations\DependencyFactory
        configurator: '@App\Infrastructure\Doctrine\Migrations\DependencyFactoryConfigurator'

